<div class="searchBar">
    <div class="container">
        <form action="/search" method="POST" class="search-form"  role="search">
            <input type="search" aria-label="Search" name="searchTerm" placeholder="Search the site...">
            <div id="searchClose">Close</div>
        </form>
    </div>
</div>